.navbar{
    background-color: #78be21;
    height: 100px;
    padding: 0 auto;
}

.navbar-brand{
    color: aliceblue 
    !important;
    font-weight: bolder;
    font-size: 26px;
}

.logonavbar{
    margin-right: 20px;
}

.form-control me-2{
    color: aliceblue;
}